/* teleporthq */

.container3{
  margin-left: 12%;
}
.desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.rectangle1 {
  top: 179px;
  left: 104px;
  width: 419px;
  height: 681px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}

.rectangle4 {
  top: 179px;
  left: 1173px;
  width: 183px;
  height: 681px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}

.rectangle2 {
  top: 314px;
  left: 602px;
  width: 473px;
  height: 255px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}

.rectangle3 {
  top: 605px;
  left: 607px;
  width: 473px;
  height: 255px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}

.text {
  top: 229px;
  left: 133px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.text02 {
  top: 340px;
  left: 639px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.text04 {
  top: 639px;
  left: 639px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.text06 {
  top: 270px;
  left: 616px;
  color: rgba(126, 125, 125, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.text08 {
  top: 212px;
  left: 607px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.ellipse1 {
  top: 212px;
  left: 1189px;
  width: 154px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}

.ellipse2 {
  top: 443px;
  left: 1189px;
  width: 154px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}

.ellipse3 {
  top: 674px;
  left: 1189px;
  width: 154px;
  height: 154px;
  position: absolute;
  border-color: transparent;
}

.text10 {
  top: 260px;
  left: 1202px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.text12 {
  top: 491px;
  left: 1208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.youtube-logo1 {
  top: 693px;
  left: 1208px;
  width: 116px;
  height: 116px;
  position: absolute;
  border-color: transparent;
}











@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.container2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #B2B2B2;
}

h1 {
  margin: 15px;
  font-family: 'Antic Slab', serif;
  letter-spacing: 1.3px;
  color:#3C4048
}

input {
  width: 500px;
  padding: 14px 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: .3px solid black;
  background-color: #694e59;
  color: white;
  border: none;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;  
}

h3 {
  margin-top: 10px;
  font-family: 'Antic Slab', serif;
  color:#EAEAEA
}

h5 {
  margin: 10px 0;
  font-family: 'Antic Slab', serif;
  color:#EAEAEA
}
h6{
  font-family: 'Antic Slab', serif;
  color:#a9a8a8
  
}

.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.data {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 14px;
  background-color: #3C4048;
  padding-top: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .3s;
}
/* youtube logo Start */
#ytlogo{
  padding: 2%;
  margin-top: 5%;
  
  width: 30px;
  height: 30px;
}

#ytlogo:hover{
  -webkit-transition: transform 0.22s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;

}
/* youtube logo End */

.data:hover {
  /* opacity: .5; */
  
  transform: scale(1.01);
}






